<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Buggy Cars Portal Tests" verbose="1" >
    <test name="Buggy Cars Login Tests" >
        <classes>
            <class name="com.buggy.car.portals.tests.LoginTest" />
        </classes>
    </test>
    <test name="Buggy Cars Register Tests" >
        <classes>
            <class name="com.buggy.car.portals.tests.RegisterTest" />
        </classes>
    </test>
    <test name="Buggy Cars Vote Tests" >
        <classes>
            <class name="com.buggy.car.portals.tests.BuggyCarsVoteTest" />
        </classes>
    </test>
    <test name="Buggy Cars Sort Tests" >
        <classes>
            <class name="com.buggy.car.portals.tests.BuggyCarRatingSortTest" />
        </classes>
    </test>
</suite>